body{
  background-color: #121724;
}
h1
{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 70px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
}
label[for="languageDropdown"] {
  font-weight: bold;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.codein{
  background-color: rgb(64, 64, 67);
}

#languageDropdown {
  padding: 8px;
  font-size: 16px;
  width: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #2c2929;
  color: #eae2e2;
}

#languageDropdown option {
  padding: 8px;
  font-size: 16px;
  background-color: #fff; /* Background color of options */
  color: #333; 
}

