#textBox {
    height:450px;
    width:750px;
    font-size: 23px;
}

#copyButton {
    font-size:30px;                                              
}

#outputContainer {
    font-size:23px;
}